# base Fast API dependencies
fastapi
uvicorn[standard]

# database dependencies
alembic
sqlalchemy
asyncpg
psycopg2-binary

# langchain dependencies
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-experimental
langgraph
langchain-openai
langchain-anthropic

# Qdrant vector database dependencies
qdrant_client

# embeddings
fastembed

# PDF text extraction
pypdf

# JWT and password hashing dependencies
python-jose[cryptography]
bcrypt
pydantic-settings

# Fast API admin interface dependencies
sqladmin[full]