fastapi
uvicorn[standard]
alembic
sqlalchemy
asyncpg
psycopg2-binary
langchain
langchain-core
langgraph
langchain-openai
langchain-anthropic
langchain-community
python-dotenv
qdrant_client
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings